{% extends 'base.html' %}
{% block title %}
{{ occupation.title }}
{% endblock %}

{% block body %}
{% if current_occupation %}
<a href='/?current_occupation={{current_occupation.title}}'> back to search </a>
{% else %}
<a href='/'>search for other occupations</a>
{% endif %}
<h1> {{ occupation.title }} </h1>
<h3> Code: {{ occupation.code }} </h3>
<h2> Description </h2>
{{ occupation.description }}
<h2> Core Competencies </h2>

{% if current_occupation %}
<table>
	<tr>
		<td></td>
		<th>Score<br>({{ occupation.title }})</th>
		<th>Score<br>({{ current_occupation.title }})</th>
	</tr>
	{% for core_competency in core_competencies %}
	<tr>
		<th> {{ core_competency.name }} </th>
		<td> {{ core_competency.score }} </td>
		<td> {{ core_competency.current }} </td>
		{% if core_competency.current > core_competency.score %}
		<td>&#x1F53C;</td>
		{% elif core_competency.score > core_competency.current %}
		<td>&#x1F53D;</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
{% else %}
<table>
	{% for core_competency in core_competencies %}
	<tr>
		<th> {{ core_competency.name }} </th>
		<td> {{ core_competency.score }} </td>
	</tr>
	{% endfor %}
</table>

{% endif %}

<h2> Technology Tools </h2>
<ul>
	{% for technology_tool in technology_tools %}
		{% if current_occupation %}
			{% if technology_tool in current_tech_tools %}
			<li> {{ technology_tool }} &#x2705; </li>
			{% else %}
			<li> {{ technology_tool }} </li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>

<h2> Specialist Tasks </h2>
<ul>
{% for family, clusters in task_cluster_families.items() %}
<li>
	{{ family }}
	{% if current_task_cluster_families and family in current_task_cluster_families %}
	&#x2705;
	{% set current_clusters=current_task_cluster_families[family] %}
	{% endif %}
	<ul>
	{% for cluster, tasks in clusters.items() %}
	<li>
		{{ cluster }}
		{% if current_clusters and cluster in current_clusters %}
		&#x2705;
		{% set current_tasks = current_clusters[cluster] %}
		{% endif %}

		<ul>
		{% for task in tasks %}
		<li> {{ task }} 
		{% if current_tasks and task in current_tasks %}
		&#x2705;
		{% endif %}
		</li>
		{% endfor %}
		</ul>
	</li>
	{% endfor %}
	</ul>
</li>
{% endfor %}
</ul>
{% endblock %}
