{% extends 'base.html' %}
{% block title %}
{{ occupation.title }}
{% endblock %}

{% block body %}
{% if current_occupation %}
<a href='/?current_occupation={{current_occupation.title}}'> back to search </a>
{% else %}
<a href='/'>search for other occupations</a>
{% endif %}
<h1> {{ occupation.title }} </h1>
<h3> Code: {{ occupation.code }} </h3>
<h2> Description </h2>
{{ occupation.description }}
<h2> Core Competencies </h2>
<table>
	{% for core_competency in core_competencies %}
	<tr>
		<th> {{ core_competency.name }} </th>
		<td> {{ core_competency.score }} </td>
	</tr>
	{% endfor %}
</table>
<h2> Technology Tools </h2>
<ul>
	{% for technology_tool in technology_tools %}
	{% if technology_tool in current_tech_tools %}
	<li> {{ technology_tool }} &#x2705; </li>
	{% else %}
	<li> {{ technology_tool }} </li>
	{% endif %}
	{% endfor %}
</ul>
{% endblock %}
