{% extends 'base.html' %}
{% block title %}
Search
{% endblock %}

{% block body %}
<form action='/' method="GET">
	<label for="search_occupation"> Your current occupation </label>
	<input type="text" name="current_occupation" id="search_occupation"
	    list="list_occupations" defaultValue="{{current_occupation}}"/>
	<input type="submit"/>
</form>

<datalist id="list_occupations">
	{% for occupation in occupations %}
	<option>
	{{ occupation.title }}
	</option>
	{% endfor %}
</datalist>

{% if current_occupation %}
<table>
	<tr>
		<th> Title </th>
	</tr>
	{% for occupation in occupations %}
	<tr>
		<td> 
			<a href='/occupations/{{occupation.code}}?current_occupation={{current_occupation}}'>
			{{occupation.title}}
			</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
{% endblock %}

