{% extends 'base.html' %}
{% block title %}
Search
{% endblock %}

{% block body %}
<form action='/' method="GET">
	<label for="search_occupation"> Your current occupation </label>
	{% if current_occupation %}
	<input type="text" name="current_occupation" id="search_occupation"
	    list="list_occupations" value="{{current_occupation}}"/>
	{% else %}
	<input type="text" name="current_occupation" id="search_occupation"
	    list="list_occupations"/>
	{% endif %}
	<input type="submit"/>
</form>

<datalist id="list_occupations">
	{% for occupation in occupations %}
	<option>
	{{ occupation.title }}
	</option>
	{% endfor %}
</datalist>

{% if current_occupation %}
<ul>
	{% for occupation in occupations %}
	<li>
		<a href='/occupations/{{occupation.code}}?current_occupation={{current_occupation}}'>
		{{occupation.title}}
		</a>
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}

