<!DOCTYPE html>
<html>
<head>
	<title> Search </title>
	<meta charset="utf8"/>
</head>
<body>
	<form action='/' method="GET">
		<label for="search_occupation"> Your current occupation </label>
		<input type="text" name="search_occupation" id="search_occupation"
		    list="list_occupations" defaultValue="{{search_occupation}}"/>
		<input type="submit"/>
	</form>

	<datalist id="list_occupations">
		{% for occupation in occupations %}
		<option>
		{{ occupation.title }}
		</option>
		{% endfor %}
	</datalist>

	{% if search_occupation %}
	<table>
		<tr>
			<th> Code </th>
			<th> Title </th>
			<th> Description </th>
		</tr>
		{% for occupation in occupations %}
		<tr>
			<td> {{occupation.code}} </td>
			<td> {{occupation.title}} </td>
			<td> {{occupation.description}} </td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</body>
</html>
